<extend name="Public/base"/>
<block name="main">

    <fieldset class="layui-elem-field">
        <legend>订单管理 - 豆币流水</legend>
        <div class="layui-field-box">
            <form class="layui-form" id="form-admin-add" action="">
                <div class="layui-form-item">

                    <!--<div class="layui-inline">
                        <label class="layui-form-label"> 时间</label>
                        <div class="layui-input-inline" style="width: 300px;">

                            <input class="layui-input" name="add_time" placeholder="查询日期" onclick="layui.laydate({elem: this, festival: true})" id="add_time">
                        </div>
                    </div>-->
                    <div class="layui-inline">
                        <label class="layui-form-label"> 用户类型</label>
                        <div class="layui-input-inline">
                            <select name="user_type" lay-search="" id="user_type">
                                <option value="">请选择</option>
                                <option value="">请选择</option>
                                <option value="STU">学生</option>
                                <option value="TEA">老师</option>
                                <option value="COM">机构</option>


                            </select>
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label"> 收支类型</label>
                        <div class="layui-input-inline">
                            <select name="io_type" lay-search="" id="io_type">
                                <option value="">请选择</option>
                                <option value="">请选择</option>
                                <option value="SIGN">签到</option>
                                <option value="READ">阅读</option>
                                <option value="SHARE">分享</option>
                                <option value="PUB">发布</option>
                                <option value="INVITE">邀请</option>
                                <option value="SHOP">购物</option>
                                <option value="PUBGET">被阅读</option>
                            </select>
                        </div>
                    </div>
                    <div class="layui-inline" id="search">
                        <span class="layui-btn sub" lay-submit lay-filter="search">查询</span>
                    </div>
                </div>
            </form>
            <input type="hidden" name="add_times" id="add_times" value=""/>
            <input type="hidden" name="user_types" id="user_types" value=""/>
            <input type="hidden" name="io_types" id="io_types" value=""/>
            <input type="hidden" name="limit" id="limit" value=""/>
            <input type="hidden" name="curr" id="curr" value=""/>
            <input type="hidden" name="total" id="total" value=""/>
            <table class="layui-table" id="list-admin" lay-even>
                <thead>
                <tr>
                    <th>ID</th>
                    <th>用户名</th>
                    <th>手机号</th>
                    <th>收支名称</th>
                    <th>数量</th>
                    <th>用户类型</th>
                    <th>时间</th>
                </tr>
                </thead>
                <tbody id="tbody">

                </tbody>
            </table>
            <div id="demo"></div>
        </div>

    </fieldset>
</block>


<block name="myScript">
    <script>
        Date.prototype.format = function (format) {
            var o = {
                "M+": this.getMonth() + 1, //month
                "d+": this.getDate(), //day
                "h+": this.getHours(), //hour
                "m+": this.getMinutes(), //minute
                "s+": this.getSeconds(), //second
                "q+": Math.floor((this.getMonth() + 3) / 3), //quarter
                "S": this.getMilliseconds() //millisecond
            }

            if (/(y+)/.test(format)) {
                format = format.replace(RegExp.$1, (this.getFullYear() + "").substr(4 - RegExp.$1.length));
            }

            for (var k in o) {
                if (new RegExp("(" + k + ")").test(format)) {
                    format = format.replace(RegExp.$1, RegExp.$1.length == 1 ? o[k] : ("00" + o[k]).substr(("" + o[k]).length));
                }
            }
            return format;
        }

    </script>
    <script>
        function ajaxlist(object) {
            $.ajax({
                type: "POST",
                url: "{:U('ajaxGetIndex')}",
                data: object,
                async: false,
                success: function (msg) {
                    var html = '';
                    var data = msg.data;
                    if (msg.status == 'success') {
                        for (var x in data) {
                            var add_time = '';
                            var io_name = '';
                            var num = '',
                            user_type = '';
                            if (data[x].add_time != '') {
                                add_time = new Date(data[x].add_time * 1000).format("yyyy-MM-dd");
                            }
                            if(data[x].io_type != ''){
                                switch(data[x].io_type){
                                    case 'SIGN':
                                        io_name='签到';
                                        num = '+'+data[x].num;
                                        break;
                                    case 'READ':
                                        io_name='阅读';
                                        num = '-'+data[x].num;
                                        break;
                                    case 'SHARE':
                                        io_name='分享';
                                        num = '+'+data[x].num;
                                        break;
                                    case 'INVITE':
                                        io_name='邀请';
                                        num = '+'+data[x].num;
                                        break;
                                    case 'PUB':
                                        io_name='发布';
                                        num = '+'+data[x].num;
                                        break;
                                    case 'SHOP':
                                        io_name='购物';
                                        num = '-'+data[x].num;
                                        break;
                                    case 'PUBGET':
                                        io_name='被阅读';
                                        num = '+'+data[x].num;
                                        break;
                                }
                            }
                            if(data[x].user_type != ''){
                                switch(data[x].user_type) {
                                    case 'STU':
                                        user_type = '学生';
                                        break;
                                    case 'TEA':
                                        user_type = '老师';
                                        break;
                                    case 'COM':
                                        user_type = '机构';
                                        break;
                                    default :
                                        break;
                                }
                            }
                            
                            html += '<tr><td>' + data[x].id + '</td><td>' + data[x].user_name + '</td><td>' + data[x].phone + '</td><td>' + io_name + '</td><td>'
                                + num + '</td><td>'+ user_type + '</td><td>'+ add_time + '</td></tr>'
                        }

                    } else {
                        html = '<tr><td colspan="7" style="text-align:center;">暂无数据</td></tr>'

                    }
                    $("#tbody").html(html);
                    $("#curr").val(msg.curr);
                    $("#limit").val(msg.limit);
                    $("#total").val(msg.total);

                }
            });
        }

        function pagenum() {
            var curr = $("#curr").val(); //获取当前分页数
            var limit = $("#limit").val(); //每页显示条数
            var total = $("#total").val(); //总条数
            var page = Math.ceil(total / limit);
            var laypage = layui.laypage
                , layer = layui.layer;

            if (curr == '') { //为空时赋值1
                curr = 1;
            }

            laypage({
                cont: 'demo'
                , curr: curr
                , pages: page //控制器转过来的页数
                , groups: 5
                , first: '首页'
                , jump: function (obj, first) {
                    if (!first) {  //跳转必须放在这个里边，不然无限刷新

                        var object = new Object();
                        object.curr = obj.curr;
                        object.io_type = $("#io_types").val();
                        object.add_time = $("#add_times").val();
                        object.user_type = $("#user_types").val();
                        ajaxlist(object);
                    }
                }
            });
        }

        layui.use(['form', 'laypage', 'layer', 'laydate'], function () {
            var form = layui.form(),
                laydate = layui.laydate;
            ajaxlist();
            pagenum();

            form.on('submit(search)', function (data) {
                $("#io_types").val($("#io_type").val());
                $("#user_types").val($("#user_type").val());
                $("#add_times").val($("#add_time").val());
                var object = data.field;
                object.curr = 1;
                object.io_type = $("#io_types").val();
                object.add_time = $("#add_times").val();
                object.user_type = $("#user_types").val();
                ajaxlist(object);
                pagenum();
                return false;
            });

        });
    </script>
</block>