<extend name="Public/base"/>
<block name="main">
    <fieldset class="layui-elem-field">
        <legend>发布审核管理 - 查看发布内容</legend>
        <div class="layui-field-box">
            <style>
                #demo2 {
                    margin: 10px 0 0 0
                }

                #demo2 dd {
                    position: relative;
                    margin: 0 10px 10px 0;
                    float: left
                }

                #demo2 .operate {
                    position: absolute;
                    top: 0;
                    right: 0;
                    z-index: 1
                }

                #demo2 .operate i {
                    cursor: pointer;
                    background: #2F4056;
                    padding: 2px;
                    line-height: 15px;
                    text-align: center;
                    color: #fff;
                    margin-left: 1px;
                    float: left;
                    filter: alpha(opacity=80);
                    -moz-opacity: .8;
                    -khtml-opacity: .8;
                    opacity: .8
                }
            </style>

            <table class="layui-table" id="list-admin" lay-even>
                <colgroup>
                    <col width="20%">
                    <col width="80%">
                </colgroup>
                <thead>
                <tr>
                    <th>标题</th>
                    <th>内容</th>
                </tr>
                </thead>
                <tbody id="tbody">
                <tr>
                    <td><span id="intro" data-id="{$catalogList[0]['pid']}">{$catalogList[0]['ptitle']}</span></td>
                    <td rowspan="{$total+1}" id="detail_content">
                        <form class="layui-form" action="" id="health_form">

                            <div class="layui-form-item">
                                <label class="layui-form-label"> 封面</label>
                                <div class="layui-input-block">
                                    <blockquote class="layui-elem-quote layui-quote-nm" style="margin-top: 10px;">
                                        <div class="layui-upload-list" id="demo2">
                                            <if condition="$list['cover'] neq ''">
                                                <img style="width:150px;height:150px;margin-left:5px"
                                                     src="{$list['cover']}">
                                            </if>

                                        </div>
                                    </blockquote>
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <label class="layui-form-label"> 标题</label>
                                <div class="layui-input-block">
                                    <input type="text" name="title" required
                                           value="{:(isset($list['title'])?$list['title']:'')}" lay-verify="required"
                                           class="layui-input" disabled
                                           style="outline:none;border:none;overflow: hidden">
                                </div>
                            </div>


                            <div class="layui-form-item layui-form-text">
                                <label class="layui-form-label">简介</label>
                                <div class="layui-input-block">
                    <textarea class="layui-textarea" id="editor" style="display: none">
                    {:(isset($list['content'])?$list['content']:'')}
                    </textarea>
                                </div>
                            </div>

                            <div class="layui-form-item">
                                <label class="layui-form-label"> 发布人</label>
                                <div class="layui-input-inline">
                                    <input type="text" name="user_name" required
                                           value="{:(isset($list['user_name'])?$list['user_name']:'')}"
                                           lay-verify="required"
                                           class="layui-input" disabled
                                           style="outline:none;border:none;overflow: hidden">
                                </div>
                                <div class="layui-inline" style="float:right;">
                                    <label class="layui-form-label"> 发布时间</label>
                                    <div class="layui-input-inline">

                                        <input type="text" name="pub_time" required
                                               value="{:(isset($list['pub_time'])?date('Y年m月d日 H:i:s',$list['pub_time']):'')}"
                                               lay-verify="required"
                                               class="layui-input" disabled
                                               style="outline:none;border:none;overflow: hidden">
                                    </div>
                                </div>

                            </div>

                        </form>
                    </td>
                </tr>
                <foreach name="catalogList" item="vo" key="k">
                    <tr>

                        <td>
                            {$vo.title}

                        </td>

                    </tr>
                </foreach>


                </tbody>
            </table>


        </div>
    </fieldset>
</block>
<block name="myScript">
    <script>
        layui.use(['layedit'], function () {
            var layedit = layui.layedit;
            layedit.set({
                uploadImage: {
                    url: '{:U("upload")}' //接口url
                    , type: 'post' //默认post
                }
            });
            var index = layedit.build('editor');
        });
    </script>

</block>