<extend name="Public/base"/>
<block name="main">
    <fieldset class="layui-elem-field">
        <legend>机构管理 - <a href="{:U('index')}" target="_self" style="color:blue;cursor:pointer;">发布审核列表</a> - 查看发布内容目录详情</legend>
        <div class="layui-field-box">
            <style>
                #demo2 {
                    margin: 10px 0 0 0
                }

                #demo2 dd {
                    position: relative;
                    margin: 0 10px 10px 0;
                    float: left
                }

                #demo2 .operate {
                    position: absolute;
                    top: 0;
                    right: 0;
                    z-index: 1
                }

                #demo2 .operate i {
                    cursor: pointer;
                    background: #2F4056;
                    padding: 2px;
                    line-height: 15px;
                    text-align: center;
                    color: #fff;
                    margin-left: 1px;
                    float: left;
                    filter: alpha(opacity=80);
                    -moz-opacity: .8;
                    -khtml-opacity: .8;
                    opacity: .8
                }
            </style>
            <h3 style="text-align:center;"><span id="intro" data-id="{$list['id']}"
                                                 style="cursor:pointer;color:blue;font-size:25px;">{$list['title']}</span>
            </h3>
            <table class="layui-table" id="list-admin" lay-even>
                <colgroup>
                    <col width="20%">
                    <col width="80%">
                </colgroup>
                <thead>
                <tr>
                    <th>标题</th>
                    <th>内容</th>
                </tr>
                </thead>
                <tbody id="tbody">
                <foreach name="catalogList" item="vo" key="k">
                    <tr>

                        <td data-id="{$vo.id}" class="catalog">
                            <span style="cursor:pointer;color:blue;">{$vo.title}</span>

                        </td>
                        <if condition="$k eq 0">
                            <td rowspan="{$total}" id="detail_content">
                                <form class="layui-form" action="" id="health_form">

                                    <div class="layui-form-item">
                                        <label class="layui-form-label"> 标题</label>
                                        <div class="layui-input-block">
                                            <input type="text" name="title" required
                                                   value="{$vo.title}" lay-verify="required"
                                                   class="layui-input" disabled
                                                   style="outline:none;border:none;overflow: hidden">
                                        </div>
                                    </div>


                                    <if condition="$vo['item_type'] eq 'PIC'">
                                        <div class="layui-form-item">
                                            <label class="layui-form-label"> 图片</label>
                                            <div class="layui-input-block">
                                                <blockquote class="layui-elem-quote layui-quote-nm"
                                                            style="margin-top: 10px;">
                                                    <div class="layui-upload-list">
                                                        <img style="width:150px;height:150px;margin-left:5px"
                                                             src="{$vo['content']}"/>
                                                    </div>
                                                </blockquote>
                                            </div>
                                        </div>
                                    </if>
                                    <if condition="$vo['item_type'] eq 'FILE'">
                                        <div class="layui-form-item">
                                            <label class="layui-form-label"> 文件</label>
                                            <div class="layui-input-block">
                                                <input type="text" name="file" value="{$vo['content']}"
                                                       class="layui-input" disabled
                                                       style="outline:none;border:none;overflow: hidden"/>
                                            </div>
                                        </div>
                                    </if>

                                    <if condition="$vo['item_type'] eq 'ART'">
                                        <div class="layui-form-item layui-form-text">
                                            <label class="layui-form-label">内容</label>
                                            <div class="layui-input-block">
                                                          <textarea class="layui-textarea" id="editor"
                                                                    style="display: none">
                                {$vo['content']}
                                                   </textarea>
                                            </div>
                                        </div>
                                    </if>
                                    <if condition="($vo['item_type'] eq 'RAD') or ($vo['item_type'] eq 'SRAD')">
                                        <div class="layui-form-item">
                                            <label class="layui-form-label">视频：</label>
                                            <div class="layui-upload-list">
                                                <video width="320" height="240" controls autoplay>
                                                    <source src="{$vo['content']}" type="video/ogg">
                                                    <source src="{$vo['content']}" type="video/mp4">
                                                    <source src="{$vo['content']}" type="video/webm">
                                                    <object data="{$vo['content']}" width="320" height="240">
                                                        <embed width="320" height="240" src="{$vo['content']}">
                                                    </object>
                                                </video>
                                            </div>
                                        </div>
                                    </if>


                                    <div class="layui-form-item">
                                        <label class="layui-form-label"> 发布人</label>
                                        <div class="layui-input-inline">
                                            <input type="text" name="user_name" required
                                                   value="{$vo['user_name']}"
                                                   lay-verify="required"
                                                   class="layui-input" disabled
                                                   style="outline:none;border:none;overflow: hidden">
                                        </div>
                                        <div class="layui-inline" style="float:right;">
                                            <label class="layui-form-label"> 发布时间</label>
                                            <div class="layui-input-inline">
                                                <input type="text" name="pub_time" required
                                                       value="{:(isset($vo['pub_time'])?(date('Y-m-d',$vo['pub_time'])):'')}"
                                                       lay-verify="required"
                                                       class="layui-input" disabled
                                                       style="outline:none;border:none;overflow: hidden">
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </td>
                        </if>

                    </tr>
                </foreach>


                </tbody>
            </table>

            <div id="demo"></div>
        </div>
    </fieldset>
</block>
<block name="myScript">

    <script>
        Date.prototype.format = function (format) {
            var o = {
                "M+": this.getMonth() + 1, //month
                "d+": this.getDate(), //day
                "h+": this.getHours(), //hour
                "m+": this.getMinutes(), //minute
                "s+": this.getSeconds(), //second
                "q+": Math.floor((this.getMonth() + 3) / 3), //quarter
                "S": this.getMilliseconds() //millisecond
            }

            if (/(y+)/.test(format)) {
                format = format.replace(RegExp.$1, (this.getFullYear() + "").substr(4 - RegExp.$1.length));
            }

            for (var k in o) {
                if (new RegExp("(" + k + ")").test(format)) {
                    format = format.replace(RegExp.$1, RegExp.$1.length == 1 ? o[k] : ("00" + o[k]).substr(("" + o[k]).length));
                }
            }
            return format;
        }

        /*//使用方法
        var now = new Date();
        var nowStr = now.format("yyyy-MM-dd hh:mm:ss");
        //使用方法2:
        var testDate = new Date();
        var testStr = testDate.format("YYYY年MM月dd日hh小时mm分ss秒");
        alert(testStr);
        //示例：
        alert(new Date().Format("yyyy年MM月dd日"));
        alert(new Date().Format("MM/dd/yyyy"));
        alert(new Date().Format("yyyyMMdd"));
        alert(new Date().Format("yyyy-MM-dd hh:mm:ss"));*/
    </script>
    <script>
        function ajaxLooklist(pid) {
            var object = new Object();
            object.pid = pid;
            $.ajax({
                type: "POST",
                url: "{:U('ajaxLook')}",
                data: object,
                async: false,
                success: function (msg) {
                    var msg = eval('(' + msg + ')');
                    var html = '';
                    if (msg) {
                        var str_status = '';
                        var add_time = '';
                        var audit_time = '';

                        if (msg.pub_time != '') {
                            add_time = new Date(msg.pub_time * 1000).format("yyyy-MM-dd");
                        }

                        html += '<div class="layui-form-item">\n' +
                            '                            <label class="layui-form-label"> 封面</label>\n' +
                            '                            <div class="layui-input-block">\n' +
                            '                                <blockquote class="layui-elem-quote layui-quote-nm" style="margin-top: 10px;">\n' +
                            '                                <div class="layui-upload-list" id="demo2">\n' +
                            '                                    <img style="width:150px;height:150px;margin-left:5px"\n' +
                            '                                src="' + msg.cover + '">\n' +
                            '                                </div>\n' +
                            '                                </blockquote>\n' +
                            '                            </div>\n' +
                            '                        </div>\n';
                        html += '<div class="layui-form-item">\n' +
                            '                                <label class="layui-form-label"> 标题</label>\n' +
                            '                                <div class="layui-input-block">\n' +
                            '                                    <input type="text" name="title" required\n' +
                            '                                           value="' + msg.title + '" lay-verify="required"\n' +
                            '                                           class="layui-input" disabled\n' +
                            '                                           style="outline:none;border:none;overflow: hidden">\n' +
                            '                                </div>\n' +
                            '                            </div>\n';
                        html += '<div class="layui-form-item layui-form-text">\n' +
                            '                                <label class="layui-form-label">简介</label>\n' +
                            '                                <div class="layui-input-block">\n' +
                            '                    <textarea class="layui-textarea" id="editor" style="display: none">\n' +
                            '                    ' + msg.intro + '\n' +
                            '                    </textarea>\n' +
                            '                                </div>\n' +
                            '                            </div>\n';
                        html += '<div class="layui-form-item">\n' +
                            '                                <label class="layui-form-label"> 发布人</label>\n' +
                            '                                <div class="layui-input-inline">\n' +
                            '                                    <input type="text" name="user_name" required\n' +
                            '                                           value="' + msg.user_name + '"\n' +
                            '                                           lay-verify="required"\n' +
                            '                                           class="layui-input" disabled\n' +
                            '                                           style="outline:none;border:none;overflow: hidden">\n' +
                            '                                </div>\n' +
                            '                                <div class="layui-inline" style="float:right;">\n' +
                            '                                    <label class="layui-form-label"> 发布时间</label>\n' +
                            '                                    <div class="layui-input-inline">\n' +
                            '                                        <input type="text" name="pub_time" required\n' +
                            '                                               value="' + add_time + '"\n' +
                            '                                               lay-verify="required"\n' +
                            '                                               class="layui-input" disabled\n' +
                            '                                               style="outline:none;border:none;overflow: hidden">\n' +
                            '                                    </div>\n' +
                            '                                </div>\n' +
                            '                            </div>';


                    } else {
                        html = '<span style="text-align:center;">暂无数据</span>'

                    }
                    $("#health_form").html(html);

                }
            });
        }

        function ajaxCatalogDetail(id) {
            var object = new Object();
            object.id = id;
            $.ajax({
                type: "POST",
                url: "{:U('ajaxCatalogLook')}",
                data: object,
                async: false,
                success: function (msg) {
                    var msg = eval('(' + msg + ')');
                    var html = '';
                    if (msg) {
                        var add_time = '';
                        if (msg.pub_time != '') {
                            add_time = new Date(msg.pub_time * 1000).format("yyyy-MM-dd");
                        }

                        html += '<div class="layui-form-item">\n' +
                            '                                <label class="layui-form-label"> 标题</label>\n' +
                            '                                <div class="layui-input-block">\n' +
                            '                                    <input type="text" name="title" required\n' +
                            '                                           value="' + msg.title + '" lay-verify="required"\n' +
                            '                                           class="layui-input" disabled\n' +
                            '                                           style="outline:none;border:none;overflow: hidden">\n' +
                            '                                </div>\n' +
                            '                            </div>\n';

                        if (msg.item_type == 'PIC') {
                            html += '<div class="layui-form-item">\n' +
                                '                            <label class="layui-form-label"> 图片</label>\n' +
                                '                            <div class="layui-input-block">\n' +
                                '                            <blockquote class="layui-elem-quote layui-quote-nm" style="margin-top: 10px;">\n' +
                                '                            <div class="layui-upload-list">\n' +
                                '                            <img style="width:150px;height:150px;margin-left:5px"\n' +
                                '                        src="' + msg.content + '"/>\n' +
                                '                            </div>\n' +
                                '                            </blockquote>\n' +
                                '                            </div>\n' +
                                '                            </div>';
                        }
                        if (msg.item_type == 'FILE') {
                            html += '                <div class="layui-form-item">\n' +
                                '                    <label class="layui-form-label"> 文件</label>\n' +
                                '                    <div class="layui-input-block">\n' +
                                '                        <input type="text" name="file" value="' + msg.content + '" class="layui-input" disabled\n' +
                                '                               style="outline:none;border:none;overflow: hidden"/>\n' +
                                '                    </div>\n' +
                                '                </div>\n';
                        }
                        if (msg.item_type == 'ART') {
                            html += '                <div class="layui-form-item layui-form-text">\n' +
                                '                    <label class="layui-form-label">内容</label>\n' +
                                '                    <div class="layui-input-block">\n' +
                                '                    <textarea class="layui-textarea" id="editor" style="display: none">\n' +
                                msg.content +
                                '                    </textarea>\n' +
                                '                    </div>\n' +
                                '                </div>\n';
                        }
                        if (msg.item_type == 'RAD' || msg.item_type == 'SRAD') {
                            html += '                <div class="layui-form-item">\n' +
                                '                    <label class="layui-form-label">视频：</label>\n' +
                                '                    <div class="layui-upload-list">\n' +
                                '                            <video width="320" height="240" controls autoplay>\n' +
                                '                                <source src="' + msg.content + '" type="video/ogg">\n' +
                                '                                <source src="' + msg.content + '" type="video/mp4">\n' +
                                '                                <source src="' + msg.content + '" type="video/webm">\n' +
                                '                                <object data="' + msg.content + '" width="320" height="240">\n' +
                                '                                    <embed width="320" height="240" src="' + msg.content + '">\n' +
                                '                                </object>\n' +
                                '                            </video>\n' +
                                '                    </div>\n' +
                                '                </div>\n';
                        }


                        html += '<div class="layui-form-item">\n' +
                            '                                <label class="layui-form-label"> 发布人</label>\n' +
                            '                                <div class="layui-input-inline">\n' +
                            '                                    <input type="text" name="user_name" required\n' +
                            '                                           value="' + msg.user_name + '"\n' +
                            '                                           lay-verify="required"\n' +
                            '                                           class="layui-input" disabled\n' +
                            '                                           style="outline:none;border:none;overflow: hidden">\n' +
                            '                                </div>\n' +
                            '                                <div class="layui-inline" style="float:right;">\n' +
                            '                                    <label class="layui-form-label"> 发布时间</label>\n' +
                            '                                    <div class="layui-input-inline">\n' +
                            '                                        <input type="text" name="pub_time" required\n' +
                            '                                               value="' + add_time + '"\n' +
                            '                                               lay-verify="required"\n' +
                            '                                               class="layui-input" disabled\n' +
                            '                                               style="outline:none;border:none;overflow: hidden">\n' +
                            '                                    </div>\n' +
                            '                                </div>\n' +
                            '                            </div>';


                    } else {
                        html = '<span style="text-align:center;">暂无数据</span>'

                    }
                    $("#health_form").html(html);

                }
            });
        }

        layui.use(['form', 'layer', 'laydate', 'layedit', 'laypage'], function () {
            var form = layui.form(),
                laydate = layui.laydate;
            var layedit = layui.layedit;
            var index = layedit.build('editor', {
                tool: []
                , hideTool: []
            });
            $("#intro").on('click', function () {
                var id = $(this).attr('data-id');
                ajaxLooklist(id)
                var index = layedit.build('editor', {
                    tool: []
                    , hideTool: []
                });
            });
            $(".catalog").on('click', function () {
                var id = $(this).attr('data-id');
                ajaxCatalogDetail(id);
                var index = layedit.build('editor', {
                    tool: []
                    , hideTool: []
                });
            });
            var curr = parseInt("{$curr}"); //获取当前分页数
            var limit = parseInt("{$total}"); //每页显示条数
            var total = parseInt("{$count}"); //总条数
            var page = Math.ceil(total / limit);
            var laypage = layui.laypage
                , layer = layui.layer;

            if (curr == '') { //为空时赋值1
                curr = 1;
            }

            laypage({
                cont: 'demo'
                , curr: curr
                , pages: page //控制器转过来的页数
                , groups: 5
                , first: '首页'
                , jump: function (obj, first) {
                    var url = "{:U('look')}";
                    if (!first) {  //跳转必须放在这个里边，不然无限刷新
                        var curr = obj.curr;
                        var id = parseInt("{$list['id']}");
                        url = url.slice(0, -5) + '/curr/' + curr + '/id/' + id;
                        window.location.href = url;
                    }
                }
            });

        });
    </script>

</block>