<extend name="Public/base"/>
<block name="main">

    <fieldset class="layui-elem-field">
        <legend>订单管理 - 订单列表</legend>
        <div class="layui-field-box">
            <form class="layui-form" id="form-admin-add" action="">
                <div class="layui-form-item">
                    <div class="layui-inline">
                        <label class="layui-form-label"> 时间</label>
                        <div class="layui-input-inline" style="width: 300px;">

                            <input class="layui-input" name="date" placeholder="查询日期" onclick="layui.laydate({elem: this, festival: true,format: 'YYYY-MM-DD'})" id="date">
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label"> 卖家名称</label>
                        <div class="layui-input-inline" style="width: 300px;">
                            <input type="text" name="com_name" placeholder="请输入卖家名称" class="layui-input" value=""
                                   id="com_name">
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label"> 打款状态</label>
                        <div class="layui-input-inline">
                            <select name="rimit_status" lay-search="" id="rimit_status">
                                <option value="">请选择</option>
                                <option value="">请选择</option>
                                <option value="Y">已打款</option>
                                <option value="N">未打款</option>


                            </select>
                        </div>
                    </div>
                    <div class="layui-inline" id="search">
                        <span class="layui-btn sub" lay-submit lay-filter="search">查询</span>
                    </div>
                </div>
            </form>
            <input type="hidden" name="dates" id="dates" value=""/>
            <input type="hidden" name="com_names" id="com_names" value=""/>
            <input type="hidden" name="order_statuss" id="order_statuss" value=""/>
            <input type="hidden" name="limit" id="limit" value=""/>
            <input type="hidden" name="curr" id="curr" value=""/>
            <input type="hidden" name="total" id="total" value=""/>
            <table class="layui-table" id="list-admin" lay-even>
                <thead>
                <tr>
                    <th>ID</th>
                    <th>卖家信息</th>
                    <th>商品信息</th>
                    <th>买家信息</th>
                    <th>订单信息</th>
                    <th>总价</th>
                    <th>平台抽成(<span id="rake_ratio">{$rake_ratio}</span>%)</th>
                    <th>应付商家款</th>
                    <th>打款信息</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody id="tbody">

                </tbody>
            </table>
            <div id="demo"></div>
        </div>

    </fieldset>
</block>


<block name="myScript">
    <script>
        Date.prototype.format = function (format) {
            var o = {
                "M+": this.getMonth() + 1, //month
                "d+": this.getDate(), //day
                "h+": this.getHours(), //hour
                "m+": this.getMinutes(), //minute
                "s+": this.getSeconds(), //second
                "q+": Math.floor((this.getMonth() + 3) / 3), //quarter
                "S": this.getMilliseconds() //millisecond
            }

            if (/(y+)/.test(format)) {
                format = format.replace(RegExp.$1, (this.getFullYear() + "").substr(4 - RegExp.$1.length));
            }

            for (var k in o) {
                if (new RegExp("(" + k + ")").test(format)) {
                    format = format.replace(RegExp.$1, RegExp.$1.length == 1 ? o[k] : ("00" + o[k]).substr(("" + o[k]).length));
                }
            }
            return format;
        }

    </script>
    <script>
        function ajaxlist(object) {
            $.ajax({
                type: "POST",
                url: "{:U('ajaxGetRimitIndex')}",
                data: object,
                async: false,
                success: function (msg) {
                    var html = '';
                    var data = msg.data;
                    if (msg.status == 'success') {
                        for (var x in data) {
                            var add_time = '';
                            var seller_info = '',
                                purchaser_info = '',
                                goods_info = '',
                                order_info = '',
                                payment_time = '',
                                order_status = '',
                                rimit_button = '',
                                seller_user_type = '',
                                user_type = '',
                                pay_to_time = '';
                            var rake_ratio = $("#rake_ratio").text();
                            rake_ratio = rake_ratio/100*data[x].total_price;
                            rake_ratio = rake_ratio.toFixed(2);
                            var to_com = (parseInt(data[x].total_price*100)-parseInt(rake_ratio*100))/100;
                            to_com = to_com.toFixed(2);
                            if (data[x].add_time != '') {
                                add_time = new Date(data[x].add_time * 1000).format("yyyy-MM-dd hh:mm:ss");
                            }
                            if (data[x].payment_time != '') {
                                payment_time = new Date(data[x].payment_time * 1000).format("yyyy-MM-dd hh:mm:ss");
                            }
                            if (data[x].pay_to_time != '') {
                                pay_to_time = new Date(data[x].pay_to_time * 1000).format("yyyy-MM-dd hh:mm:ss");
                            }
                            switch (data[x].seller_user_type){
                                case 'STU':
                                    seller_user_type = '学生';
                                    break;
                                case 'TEA':
                                    seller_user_type = '老师';
                                    break;
                                case 'COM':
                                    seller_user_type = '机构';
                                    break;
                                default :
                                    break;
                            }
                            switch (data[x].user_type){
                                case 'STU':
                                    user_type = '学生';
                                    break;
                                case 'TEA':
                                    user_type = '老师';
                                    break;
                                case 'COM':
                                    user_type = '机构';
                                    break;
                                default :
                                    break;
                            }
                            //卖家信息
                            seller_info = '<p>卖家:' + data[x].seller_name + '</p><p>电话:' + data[x].seller_phone + '</p><p>类型:' + seller_user_type
                                + '</p><p>姓名:' + data[x].true_name +'</p><p>预留手机:' + data[x].bank_phone +'</p><p>银行:' + data[x].bank_name + '</p><p>账号:' + data[x].bank_card + '</p>';
                            // 买家信息
                            purchaser_info = '<p>买家:' + data[x].purchaser_name + '</p>' + '<p>电话:' + data[x].purchaser_phone + '</p>' + '<p>类型:' + user_type + '</p>';
                            //商品信息
                            goods_info = '<p>商品:' + data[x].curriculum_name + '</p><p>单价:' + data[x].unit_price + '</p><p>数量:' + data[x].goods_num + '</p>';
                            //订单信息
                            order_info = '<p>订单号:' + data[x].order_no + '</p><p>下单时间:' + add_time + '</p><p>成交时间:' + payment_time + '</p>';
                            //打款状态
                            if(data[x].pay_to_com=='Y'){
                                order_status = '<p>状态:已打款</p><p>时间:'+pay_to_time +'</p>';
                                rimit_button = '<span class="layui-btn confirm" data-info="你确定要取消打款吗？" data-id="' + data[x].id + '"data-url="{:U(\'unRimit\')}">取消</span>';
                            }else{
                                order_status = '<p>状态:未打款</p><p>时间:'+pay_to_time +'</p>';
                                rimit_button = '<span class="layui-btn confirm" data-info="你确定要打款吗？" data-id="' + data[x].id + '"data-url="{:U(\'rimit\')}">打款</span>';
                            }
                            html += '<tr><td>' + data[x].id + '</td><td>' + seller_info + '</td><td>' + goods_info + '</td><td>' + purchaser_info + '</td><td>'
                                + order_info + '</td><td>' + data[x].total_price + '</td><td>' + rake_ratio + '</td><td>' + to_com + '</td><td>' + order_status + '</td><td>'
                                + rimit_button+'</td></tr>'
                        }

                    } else {
                        html = '<tr><td colspan="10" style="text-align:center;">暂无数据</td></tr>'

                    }
                    $("#tbody").html(html);
                    $("#curr").val(msg.curr);
                    $("#limit").val(msg.limit);
                    $("#total").val(msg.total);


                    $('.confirm').on('click', function () {
                        var ownObj = $(this);
                        layer.confirm(ownObj.attr('data-info'), {
                            btn: ['确定', '取消'] //按钮
                        }, function () {
                            $.ajax({
                                type: "POST",
                                url: ownObj.attr('data-url'),
                                data: {id: ownObj.attr('data-id')},
                                success: function (msg) {
                                    if (msg.code == 1) {
                                        location.reload();
                                    } else {
                                        layer.msg(msg.msg, {
                                            icon: 5,
                                            shade: [0.6, '#393D49'],
                                            time: 1500
                                        });
                                    }
                                }
                            });
                        });
                    });
                }
            });
        }

        function pagenum() {
            var curr = $("#curr").val(); //获取当前分页数
            var limit = $("#limit").val(); //每页显示条数
            var total = $("#total").val(); //总条数
            var page = Math.ceil(total / limit);
            var laypage = layui.laypage
                , layer = layui.layer;

            if (curr == '') { //为空时赋值1
                curr = 1;
            }

            laypage({
                cont: 'demo'
                , curr: curr
                , pages: page //控制器转过来的页数
                , groups: 5
                , first: '首页'
                , jump: function (obj, first) {
                    if (!first) {  //跳转必须放在这个里边，不然无限刷新

                        var object = new Object();
                        object.curr = obj.curr;
                        object.com_name = $("#com_names").val();
                        object.date = $("#dates").val();
                        object.order_status = $("#order_statuss").val();
                        ajaxlist(object);
                    }
                }
            });
        }

        layui.use(['form', 'laypage', 'layer', 'laydate'], function () {
            var form = layui.form(),
                laydate = layui.laydate;
            ajaxlist();
            pagenum();

            form.on('submit(search)', function (data) {
                $("#com_names").val($("#com_name").val());
                $("#dates").val($("#date").val());
                $("#order_statuss").val($("#order_status").val());
                var object = data.field;
                object.curr = 1;
                object.com_name = $("#com_names").val();
                object.date = $("#dates").val();
                object.order_status = $("#order_statuss").val();
                ajaxlist(object);
                pagenum();
                return false;
            });

        });
    </script>
</block>