<extend name="Public/base"/>
<block name="main">
    <fieldset class="layui-elem-field">
        <legend>视频管理 - 课本 - 批量添加视频目录</legend>
        <form class="layui-form" action="" id="health_form" method="post" enctype="multipart/form-data">

            <div class="layui-form-item" style="margin:10px;border:solid 1px #2e3133;">
                <input type="file" name="excel_file[]" class="layui-upload-file" lay-title="上传文件" id="excel_file" lay-type="video" multiple="multiple">
            </div>
        </form>
        <div id="tip"></div>
    </fieldset>
</block>
<block name="myScript">
    <script>
        layui.use('upload', function () {
            layui.upload({
                url: '{:U(\'catalogImports\')}' //上传接口
                , success: function (res) { //上传成功后的回调
                    if(res == 1){
                        html = '添加成功!';
                        $("#tip").html(html);
                        setTimeout(function(){parent.location.reload()},3000);
                    }else{
                        html = '<div style="color:red;">上传失败!</div>';
                        $("#tip").html(html);
                    }
                }
            });


        });

    </script>
</block>